{{ use ('\app\models\UserMessage') }}
{#@var yii\web\View $this#}
{#@var app\models\UserMessage model#}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            {% set form = active_form_begin({
                'action': 'message/submit'
            }) %}
            {{ form.field(model, 'email')| raw }}
            {{ form.field(model, 'content').textarea | raw }}

            {{ html.submitButton('Отправить', {'class': 'btn btn-success '})| raw }}

            {{ active_form_end() }}
        </div>
    </div>
</div>
